body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#jumboTitle {
    text-align: right;
    padding-right: 10vw;
    padding-top: 5vh;
    width:100vw;
    height:30vh;
    font-size: 70px;
    color:white;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    background-image: url('https://www.itl.cat/pngfile/big/209-2095289_laguna-beach-california-wallpaper-high-resolution-travel-images.jpg');
    background-size:cover;

}
